# Terraform core
.terraform/
.terraform.lock.hcl

# State files (VERY IMPORTANT — never commit)
*.tfstate
*.tfstate.*

# Crash logs
crash.log

# Sensitive variable files
*.tfvars
*.tfvars.json

# CLI config files
.terraformrc
terraform.rc

# Override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Plan files
*.tfplan

# Editor / OS junk
.vscode/
.idea/
*.swp
*.DS_Store
Thumbs.db

# Logs
*.log